/target/
/.idea/
/.vscode/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
/.mvn/
/node_modules/
/dist/
/.env
*.log
/frontend-app/node_modules/
/frontend-app/dist/
/frontend-app/.env
/api-gateway/target/
/auth-service/target/
/driver-service/target/
/ride-service/target/
/payment-service/target/
/eureka-server/target/

.project
.classpath
.settings/
